#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .nav {
    height: $headerHeight;
    @include flex(row, space-between, center);

    .nav-logo {
      span {
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
      }
    }

    .nav-links {
      @include flex(row, space-between, center);
      height: 100%;
      .nav-item {
        list-style: none;
        height: 100%;
        @include flex(row, center, center);
        margin: 0 1rem;
        .nav-link {
          font-size: 0.9rem;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
          position: relative;

          &:before {
            content: "";
            background-color: black;
            width: 0%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: $transition ease-in-out;
          }

          &:hover {
            &:before {
              width: 100%;
            }
          }
        }
        .active {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
